<appSettings>
  <add key="DefaultAnswerCount" value="3"/>
  <add key="DefaultAnswerLength" value="200"/>
  <add key="SearchUrl" value="http://hynamick-es.chinacloudapp.cn:9200/hwfaq/docs/_search/template" />
  <add key="SearchTemplateFile" value=".\Config\SearchHandler\SearchRequestTemplate.json"/>
  <add key="TransformFilePath" value=".\Config\JsonTransform\SearchResponse.txt"/>
</appSettings>