<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="ElasticSearch.ServiceUrl" value="http://hynamick-es.chinacloudapp.cn:9200"/>
    <add key="Hw.Faq.UrlPattern" value="http://consumer.huawei.com/cn/support/faqs/detail/index.htm?id={0}"/>
    <add key="Hw.Faq.MinFaqId" value="0"/>
    <add key="Hw.Faq.MaxFaqId" value="50000"/>
    <add key="Hw.Faq.CacheFolder" value=".\Hw.Faq"/>
    <add key="Hw.Faq.IndexName" value="HwFaq"/>
  </appSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
  <system.diagnostics>
    <trace autoflush="false" indentsize="4">
      <listeners>
        <add name="configConsoleListener" type="System.Diagnostics.ConsoleTraceListener" />
      </listeners>
    </trace>
  </system.diagnostics>
</configuration>